name: wootricsdk_flutter
description: This is an official Wootric SDK Wrapper for Flutter. You can visit wootric website for more details. Here is the official documentation for wootric - http://docs.wootric.com/
version: 0.0.9
homepage: https://inmoment.com/wootric/
repository: https://github.com/Wootric/WootricSDK-flutter/
issue_tracker: https://github.com/Wootric/WootricSDK-flutter/issues
documentation: https://github.com/Wootric/WootricSDK-flutter#readme

environment:
  sdk: ">=2.17.6 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.inmoment.wootricsdk_flutter
        pluginClass: WootricsdkFlutterPlugin
      ios:
        pluginClass: WootricsdkFlutterPlugin
